@model IEnumerable<Covid19Helpdesk.Models.Countries>

@{
    ViewBag.Title = "asd";
}

<h2>asd</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Country)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CountryCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Slug)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NewConfirmed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalConfirmed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NewDeaths)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalDeaths)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NewRecovered)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalRecovered)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Country)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CountryCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Slug)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NewConfirmed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalConfirmed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NewDeaths)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalDeaths)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NewRecovered)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalRecovered)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
